.BurgerAnimation-appear-active {
    animation: BurgerAnimationappear 0.2s linear forwards;
}
.BurgerAnimation-enter-active {
    animation: BurgerAnimationAppear 0.2s linear forwards;
}


@keyframes BurgerAnimationappear {
    0% {
        transform: scale(0.1);   
     }
    50% {
        transform: scale(0.5); 
    }

    100% {
        transform: scale(1);  
    }
}
