.Content {
    height: 100%;
    width: 100%;
    background-color: #F4A261;
    padding: 0.5rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    text-align: center;
}


@media (min-width: 750px) {
    .Content {
        width: 40%;
    }
}

