.BurgerBuilder {
    margin: 0 auto;
    height: 80%;
    background-color: #3A86FF;
    box-sizing: border-box;
}

.BurgerContainer {
    padding: 1rem;
    margin: auto;
    height: 100%;
    width: 40%;
    background-color: white;
    box-sizing: border-box;
    overflow: auto;
}
.Burger {
    width: 40%;
    height: 50%;
    margin: auto;
}