.BurgerBuilder {
    margin: 0 auto;
    height: 80%;
    background-color: #3A86FF;
    box-sizing: border-box;
}

.BurgerContainer {
    padding: 1rem;
    margin: auto;
    height: 100%;
    width: 100%;
    background-color: white;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.Burger {
    width: 90%;
    height: 90%;
    margin: auto;
}

@media(min-width : 700px) {

    .BurgerContainer {
        width: 40%;
    }
    .Burger {
        width: 70%;
        height: 70%;
    }
}